<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <style>
        table th, table td {
            padding: 10px;
        }

        .fstyle {
            font-style: normal;
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>
<body>
<h2>Add User</h2>
<div>
    <table border="1">
        <thread>
            <tr>
                <th><h2>Name</h2></th>
                <th><h2>Surname</h2></th>
                <th><h2>Age</h2></th>
                <th><h2>E-mail</h2></th>
                <th><h2>Button!</h2></th>
            </tr>
        </thread>
        <form th:action="@{/users/add}" th:object="${user}" method="post">
            <tbody>
            <tr>
                <td><input type="text" name="name" th:id="name" th:value="${user.getName()}"></td>
                <td><input type="text" name="surname" th:id="surname" th:value="${user.getSurname()}"></td>
                <td><input type="text" name="age" th:id="age" th:value="${user.getAge()}"></td>
                <td><input type="text" name="email" th:id="email" th:value="${user.getEmail()}"></td>
                <td class="fstyle"><button type="submit">Save</button></td>
            </tr>
            </tbody>
        </form>
    </table>

    <br/>
    <form th:action="@{/users}">
        <button type="submit" class="btn btn-outline-danger">back to list</button>
    </form>
</div>
</body>
</html>